__pycache__/advanced_downloader.cpython-314.pyc
__pycache__/download_queue.cpython-314.pyc
__pycache__/icon.cpython-314.pyc
__pycache__/optimized_downloader.cpython-314.pyc
__pycache__/task_manager.cpython-314.pyc
